@using System.IO
@using System.ComponentModel.DataAnnotations
@using Mona.Data
@using Mona.Data.Model

@inject ReportService ReportService


<BSModal @ref=_newLineModal IsCentered="true" Size="Size.ExtraLarge">
    <BSModalHeader OnClick="@OnToggleModal">Modal title</BSModalHeader>
    <BSModalBody>
        <EditForm Model="@_newReportLine" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="location">Locatie</label>
                <InputText id="location" @bind-Value="_newReportLine.Location" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
                <label for="responsible">Verantwoordelijke</label>
                <InputText id="responsible" @bind-Value="_newReportLine.Responsible" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
                <label for="targetDate">Doeldatum</label>
                <InputDate id="targetDate" @bind-Value="_newReportLine.TargetDate" class="form-control form-control-sm" />
            </div>

            <div class="form-group">
                <label for="description">Omschrijving</label>
                <InputTextArea id="description" @bind-Value="_newReportLine.Description" class="form-control form-control-sm" />
            </div>
    
            <div class="form-group">
                <InputFile OnChange="@InputFileChanged" class="form-control-file"></InputFile>
            </div>
        </EditForm>
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Primary" @onclick="@HandleValidSubmit">Save</BSButton>
        <BSButton Color="Color.Secondary" @onclick="@OnToggleModal">Close</BSButton>
    </BSModalFooter>
</BSModal>

<BSButton OnClick=@OnToggleModal>Nieuwe Lijn</BSButton>



@code {
    public class NewReportLineDto
    {
        [Required]
        public string Location { get; set; }
        [Required]
        public string Responsible { get; set; }
        [Required]
        public DateTimeOffset TargetDate { get; set; }
        [Required]
        public string Description { get; set; }
        [Required]
        [FileValidationAttribute(new []{".png", ".jpg"})]
        public IBrowserFile BrowserFile { get; set; }
        public byte[] FileData { get; set; }
    }


    private class FileValidationAttribute : ValidationAttribute
    {
        public FileValidationAttribute(string[] allowedExtensions)
        {
            AllowedExtensions = allowedExtensions;
        }

        private string[] AllowedExtensions { get; }

        protected override ValidationResult IsValid(object value, ValidationContext validationContext)
        {
            var file = (IBrowserFile)value;

            var extension = Path.GetExtension(file.Name);

            return !AllowedExtensions.Contains(extension, StringComparer.OrdinalIgnoreCase) ? new ValidationResult($"File must have one of the following extensions: {string.Join(", ", AllowedExtensions)}.", new[] { validationContext.MemberName }) : ValidationResult.Success;
        }
    }

    private BSModal _newLineModal;

    [Parameter]
    public long ReportId { get; set; }

    [Parameter]
    public EventCallback<EventArgs> ItemAddedCallback { get; set; }

    private NewReportLineDto _newReportLine = new NewReportLineDto()
    {
        TargetDate = DateTimeOffset.UtcNow.AddDays(7)
    };

    public async Task HandleValidSubmit()
    {
        var toPersist = new ReportLine
        {
            TargetDate = _newReportLine.TargetDate,
            Description = _newReportLine.Description,
            Location = _newReportLine.Location,
            ReportId = ReportId,
            Responsible = _newReportLine.Responsible
        };
        await ReportService.Persist(toPersist, _newReportLine.BrowserFile);
        _newReportLine = new NewReportLineDto() { TargetDate = DateTimeOffset.UtcNow.AddDays(7) };
        await ItemAddedCallback.InvokeAsync(EventArgs.Empty);

    }

    private void InputFileChanged(InputFileChangeEventArgs e)
    {
        _newReportLine.BrowserFile = e.File;
    }

    private void OnToggleModal()
    {
        _newLineModal.Toggle();
    }

}

