@page "/reports/{reportId:long}"

@using Mona.Data
@using Mona.Data.Model

@inject ReportService ReportService

@attribute [Authorize]


@if (_reportLines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NewReportLine @ref=@_editModal ReportId="ReportId" />

    <BSTable IsBordered="true" IsStriped="true" IsSmall="true">
        <thead>
            <tr>

                <th>Omschrijving</th>
                <th>Locatie</th>
                <th>Datum</th>
                <th>Verantwoordelijke</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reportLine in _reportLines)
            {
                <tr>
                    <td>@reportLine.Description</td>
                    <td>@reportLine.Location</td>
                    <td>@reportLine.TargetDate.Date.ToShortDateString()</td>
                    <td>@reportLine.Responsible</td>
                    <td>
                        <BSButton Color="Color.Primary" OnClick=@(() => OnToggleImageModalAndChangeImage(reportLine))>View</BSButton>
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
}

<BSModal @ref=_imageModal IsCentered="true" Size="Size.ExtraLarge">
    <BSModalHeader OnClick="@OnToggleImageModal">Modal title</BSModalHeader>
    <BSModalBody>
        <BSImage src=@_selectedImage alt="Related image" />
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" @onclick="@OnToggleImageModal">Close</BSButton>
    </BSModalFooter>
</BSModal>

@code {

    [Parameter]
    public long ReportId { get; set; }

    public string EditFormClass { get; set; } = string.Empty;
    private bool _showNewReportLine;
    private string _selectedImage;
    private BSModal _imageModal;
    private NewReportLine _editModal;

    private IEnumerable<ReportLine> _reportLines;

    protected override async Task OnInitializedAsync()
    {
        _reportLines = await ReportService.GetReportLinesByReportIdAsync(ReportId);
    }

    private void OnToggleImageModalAndChangeImage(ReportLine reportLine)
    {
        _selectedImage = reportLine.ImageUrl;
        _imageModal.Toggle();
    }

    private void OnToggleImageModal()
    {
        _imageModal.Toggle();
    }
}

